<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>衣彩</title>
    <link rel="stylesheet" href="../static/uikit-2.22.0/css/uikit.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/common.css" type="text/css">
    <script src="../static/js/jquery.min.js" type="text/javascript"></script>
    <script src="../static/uikit-2.22.0/js/uikit.min.js" type="text/javascript"></script>
</head>

<body class="mr-dark">
    <div class="uk-container uk-container-center mr-white">
        <ul class="uk-breadcrumb uk-margin-top uk-text-muted">
            <li><a href="#" class="uk-text-muted">首页</a></li>
            <li><a href="#" class="uk-text-muted">管理</a></li>
            <li><span class="uk-text-danger">衣服</span></li>
        </ul>
        <div class="uk-grid uk-clearfix uk-margin-large-top">
            <div class="uk-width-9-10">
                <div class="uk-width-1-1">
                    <a class="uk-button uk-active" href=""><i class="ui-icon-closesh"></i>衣服</a>
                    <a class="uk-button" href="">私人衣柜</a>
                    <a class="uk-button" href="">搭配</a>
                    <a class="uk-button" href="">个人信息</a>
                    <a href="#" class="uk-text-danger uk-float-right mr-upbtn"><i class="uk-icon-plus"></i> 上传一件衣服</a>
                </div>
                <div class="uk-width-1-1 uk-margin uk-clearfix">
                    <hr class="uk-margin-bottom-remove">
                    <div class="uk-grid">
                        <div class="uk-width-4-5 uk-margin-top">
                            <div class="uk-clearfix">
                                <div class="uk-float-left mr-classi-title">
                                    <b>分类：</b>
                                </div>
                                <div class="uk-float-left">
                                    <ul class="uk-subnav uk-subnav-pill">
                                        <li class="uk-active"><a href="#">外衣</a></li>
                                        <li><a href="#">裤子</a></li>
                                        <li><a href="#">衬衫</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-grid uk-clearfix uk-margin-large-top">
                                <div class="uk-width-large-1-4 mr-default-bottom">
                                    <a class="uk-thumbnail" href="#">
                                        <img src="../static/images/h.jpg" width="200" height="100" alt="">
                                        <div class="uk-thumbnail-caption">
                                            <div class="d3">百花格子褶子群百花格子褶子群</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="uk-width-large-1-4 mr-default-bottom">
                                    <a class="uk-thumbnail" href="#">
                                        <img src="../static/images/h.jpg" width="200" height="100" alt="">
                                        <div class="uk-thumbnail-caption">
                                            <div class="d3">百花格子褶子群</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="uk-width-large-1-4 mr-default-bottom">
                                    <a class="uk-thumbnail" href="#">
                                        <img src="../static/images/h.jpg" width="200" height="100" alt="">
                                        <div class="uk-thumbnail-caption">
                                            <div class="d3">百花格子褶子群</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="uk-width-large-1-4 mr-default-bottom">
                                    <a class="uk-thumbnail" href="#">
                                        <img src="../static/images/h.jpg" width="200" height="100" alt="">
                                        <div class="uk-thumbnail-caption">
                                            <div class="d3">百花格子褶子群</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="uk-width-large-1-4 mr-default-bottom">
                                    <a class="uk-thumbnail" href="#">
                                        <img src="../static/images/h.jpg" width="200" height="100" alt="">
                                        <div class="uk-thumbnail-caption">
                                            <div class="d3">百花格子褶子群百花格子褶子群</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="uk-width-large-1-4 mr-default-bottom">
                                    <a class="uk-thumbnail" href="#">
                                        <img src="../static/images/h.jpg" width="200" height="100" alt="">
                                        <div class="uk-thumbnail-caption">
                                            <div class="d3">百花格子褶子群</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="uk-width-large-1-4 mr-default-bottom">
                                    <a class="uk-thumbnail" href="#">
                                        <img src="../static/images/h.jpg" width="200" height="100" alt="">
                                        <div class="uk-thumbnail-caption">
                                            <div class="d3">百花格子褶子群</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="uk-width-large-1-4 mr-default-bottom">
                                    <a class="uk-thumbnail" href="#">
                                        <img src="../static/images/h.jpg" width="200" height="100" alt="">
                                        <div class="uk-thumbnail-caption">
                                            <div class="d3">百花格子褶子群</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="uk-width-large-1-4 mr-default-bottom">
                                    <a class="uk-thumbnail" href="#">
                                        <img src="../static/images/h.jpg" width="200" height="100" alt="">
                                        <div class="uk-thumbnail-caption">
                                            <div class="d3">百花格子褶子群百花格子褶子群</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="uk-width-large-1-4 mr-default-bottom">
                                    <a class="uk-thumbnail" href="#">
                                        <img src="../static/images/h.jpg" width="200" height="100" alt="">
                                        <div class="uk-thumbnail-caption">
                                            <div class="d3">百花格子褶子群</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="uk-width-large-1-4 mr-default-bottom">
                                    <a class="uk-thumbnail" href="#">
                                        <img src="../static/images/h.jpg" width="200" height="100" alt="">
                                        <div class="uk-thumbnail-caption">
                                            <div class="d3">百花格子褶子群</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="uk-width-large-1-4 mr-default-bottom">
                                    <a class="uk-thumbnail" href="#">
                                        <img src="../static/images/select.png" height="22" width="22" alt="" class="mr-sel-fix">
                                        <img src="../static/images/h.jpg" width="200" height="100" alt="">
                                        <div class="uk-thumbnail-caption">
                                            <div class="d3">百花格子褶子群</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="uk-clearfix uk-margin">
                                <button class="uk-button uk-button-small mr-getmore" type="button">加载更多...</button>
                            </div>
                        </div>
                        <div class="uk-width-1-5">
                            <div class="mr-sidebar">
                                <h3 class="uk-title mr-storage"><i class="uk-icon-user"></i> 暂存区</h3>
                                <ul>
                                    <li></li>
                                </ul>
                                <div class="mr-center">
                                    <button class="uk-button uk-button-danger uk-margin mr-savebtn" type="button">生成搭配</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
